/* CSS Document */


/*
     FILE ARCHIVED ON 02:13:03 May 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:16:09 May 12, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.188
  load_resource: 367.97
  RedisCDXSource: 575.615
  PetaboxLoader3.resolve: 73.481
  PetaboxLoader3.datanode: 81.463 (4)
  esindex: 0.04
  exclusion.robots.policy: 0.175
  LoadShardBlock: 63.955 (3)
  CDXLines.iter: 10.887 (3)
  captures_list: 653.486
*/